.alarm {
    /* background-color: cornflowerblue; */
    position: absolute;
    left: 15vw;
    top: 10vh;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
}

.alarm div:not(.time) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.current {
    /* background-color: darkseagreen; */
    grid-column: 1 / span 3;
    font-family: var(--title-font);
    font-size: 2rem;
}

.next {
    grid-column: 1 / span 3;
    font-family: var(--text-font);
    font-size: 1rem;
}

.start, .end {
    /* background-color: burlywood; */
    font-family: var(--text-font);
}

.time {
    /* background-color: mediumpurple; */
    font-family: var(--title-font);
    font-size: 6.5vw;
    font-variant-numeric: tabular-nums;
    font-feature-settings: "tnum";
    display: grid;
    place-items: center;
}