.sidebar {
  background-color: darkolivegreen;
  position:absolute;
  left: 0vw;
  top: 0vh;
  width: 10vw;
  height:100vh;
}

.title {
  background-color: cadetblue;
  position: absolute;
  left: 40vw;
  top: 5vh;
  width: 30vw;
  height: 15vh;
  display: flex;
  align-items: center;
  font-family: var(--title-font);
  font-size: 3rem;
}

.currencyBar {
  background-color: mediumpurple;
  position: absolute;
  top: 5vh;
  right: 5vw;
  width: 5vw;
  text-align: right;
  font-family: var(--text-font);
  font-size: 1.5rem;
}