.sidebar {
  background-color: var(--dark-2);
  position:absolute;
  left: 0vw;
  top: 0vh;
  width: 10vw;
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: var(--title-font);
}

.sidebar h1 {
  cursor: pointer;
  font-size: 2rem;
  color: var(--light-1);
  transition: color var(--hover-time);
}

.sidebar h1:hover {
  color: var(--light-2);
}

.title {
  /* background-color: cadetblue; */
  position: absolute;
  left: 40vw;
  top: 5vh;
  width: 30vw;
  height: 15vh;
  display: flex;
  align-items: center;
  font-family: var(--title-font);
  font-size: 3rem;
}

.currencyBar {
  background-color: var(--dark-2);
  color: var(--light-1);
  border-radius: var(--border-rad);
  position: absolute;
  top: 5vh;
  right: 5vw;
  width: fit-content;
  height: fit-content;
  text-align: right;
  font-family: var(--text-font);
  font-size: 1.5rem;
  box-sizing: border-box;
  padding: 0.25rem 0.5rem;
}