.schedule {
  background-color: cornflowerblue;
  position: absolute;
  left: 15vw;
  top: 5vh;
  width: 20vw;
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15% 85%;
}

.day {
    background-color: burlywood;
    display:grid;
    /* place-items: center; */
    grid-template-columns: 1fr 1fr;
    height: fit-content;
    width: fit-content;
    margin: auto;
}

.hourline {
    background-color: bisque;
    display:grid;
    grid-template-columns: 1fr 4fr;
    height: 3vh;
    align-content: center;
}

.hourline h4 {
    width: 100%;
    text-align: center;
    /* height: 1em; */
    /* margin: auto; */
}

.hourline hr {
    background-color: darkgoldenrod;
    width:90%;
    margin:auto;
    border-color: black;
    border-style: solid;
    border-radius: 1px;
}

.blockCreator {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.blockButton {
    background-color: darkslateblue;
    position:absolute;
    width: 100px;
    height:100px;
    pointer-events: auto;
}

.blockInfo {
    position: absolute;
    width: 100%;
    height: 100%;
}

.blockInfo span {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
}

.blockForm {
    background-color: palevioletred;
    position: absolute;
    bottom: 5%;
    left: 5%;
    height: 75%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.blockInfo form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    pointer-events: auto;
}

.blockInfo button {
    display: block;
    pointer-events: auto;
}